{% extends 'base.html' %}


{% block content %}
{% load static %}



<h2>documentos</h2>
<p>
  <a href="{% url 'upload_book' %}" class="btn btn-primary">subir documento</a>
</p>
<table class="table mb-0">
  <thead>
    <tr>
      <th>documento</th>
      <th>Abogados</th>
      <th>Comentarios</th>
      <th>Fecha de entrega</th>
      <th>Fecha de vencimiento</th>
      <th>Descargar</th>
    </tr>
  </thead>
    <tbody>
      {% for documento in documentos %}
      <tr>
        <td>{{ documento.titulo }}</td>
        <td>{{ documento.abogado }}</td>
        <td>{{ documento.comentarios }}</td>
        <td>{{ documento.fechaen }}</td>
        <td>{{ documento.fechaven }}</td>
        <td><a href="{{ documento.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
            Ver documento
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}