{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Agregar Fiel</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}   
    <button type="submit" class="btn btn-primary">Subir Fiel</button>
    <a class="btn btn-primary" href="/fieles/">Buscar Fiel</a>
    <p align="right">
        <input type="button"  class="btn btn-primary" onclick="history.back()" name="volver atrás" value="regresar">
        </p>

    
</form>


{% endblock %}