{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
method="POST">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar" name="buscar" value="{{ request.POST.buscar }}">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
<h2>Clientes</h2>
<p>
  <a href="{% url 'upload_usuario' %}" class="btn btn-primary">subir comentario</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>codigo</th>
      <th>Comentario</th>
      
    </tr>
  </thead>
    <tbody>
      {% for usuario in usuarios %}
      <tr>
        <td>{{ usuario.codigo }}</td>
        <td>{{ usuario.comentario }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<p align="right">
  <input type="button"  class="btn btn-primary" onclick="history.back()" name="volver atrás" value="regresar">
  </p>
{% endblock %}

